@font-face {
  font-family: "g";
  src: url("arilon.ttf");
}

.center{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}


body{
  font-family: g;
  margin: 0;
  width: 100%;
  background-image: url(wall.jpg);
  background-size: cover;
  animation: gradient 100s ease infinite;
  text-shadow: 1px 1px 4px white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.res{
  text-align: center;
  padding:10%;
}

#rank{
  width: 50%;
  padding: 2%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}


.palette-color{
  padding: 1%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#p{
  width: 90%; margin-left: auto; margin-right: auto; display: block;
}

.i{
  display: block; margin-left: auto; margin-right: auto; width: 90%;
}


#header {
  padding: 15%;
  text-align: center;
  background-size: cover;
  background-position: center;
  font-size: 35px;
  color: black;
  text-shadow: 2px 2px white;
}

.is-invalid {
  color: red;
}

small{
  margin-bottom: 3%;
}

h2{
  text-align: center;
}

h4{
  text-align: center;
}

#contact, #search{
  margin: 5%;
}

p{
  text-align: left;
}

ul{
  text-align: left;
}

img{
  padding: 1%;
}

.col-md{
  padding: 2%;
  text-align: center;
}

.col-md-8{
  padding: 2%;
  text-align: center;
}

.page-footer{
  background-color: #678879;
  font-size: 20px;
}

.navbar{
  background-color: #678879;
  box-shadow: 1px 1px 20px #a7a7a7;
}

.navbar-brand{
  font-size: 30px;
  padding-left: 10px;
}


#header p{
  font-size: 20px;
  text-shadow: 1px 1px black;
}


@media (min-width: 768px){
   img{
    padding: 3%;
   }

   .row2{
    flex-direction: row-reverse;
   }
}